.container {
    display: flex;
    flex-direction: column;  /* Mengatur elemen secara vertikal */
    justify-content: center; /* Memusatkan secara vertikal */
    align-items: center;     /* Memusatkan secara horizontal */
    height: 100vh;           /* Mengatur tinggi kontainer agar setinggi viewport */
    text-align: center;      /* Memusatkan teks */
}

img {
    width: 300px;
    height: auto;
}
btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #797979cb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}